<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head', { title: typeof title !=='undefined' ? title : 'CSE 340 App' }) %>
</head>

<body>
  <div id="wrapper">
    <%- include('../partials/header') %>
      <%- include('../partials/navigation', { nav: typeof nav !=='undefined' ? nav : '' }) %>
        <main>
          <%- body %>
        </main>
        <%- include('../partials/footer') %>
  </div>
</body>

</html>